<div th:fragment="carouselFragment">

<!-- 슬라이더 스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div class="container-fluid">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div width="100%" height="100%" class="carousel-inner">

				<div class="carousel-item active">
					<img src="/images/광고.jpg" class="d-block w-100"
						alt="...">
				</div>

				<div class="carousel-item">
					<img src="/images/ima/강원도/속초해수욕장 (2).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>강원도</h3>
						    <p>속초해수욕장</p>
						</div>
				</div>

				<div class="carousel-item">
					<img src="/images/ima/경기도/포천아트밸리 (3).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>경기도</h3>
						    <p>포천아트밸리</p>
						</div>
				</div>

				<div class="carousel-item">
					<img src="/images/ima/경상도/클라우드힐 (2).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>경상도</h3>
						    <p>클라우드힐</p>
						</div>
				</div>
				
				<div class="carousel-item">
					<img src="/images/ima/서울시/롯데월드 어드벤처 (1).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>서울시</h3>
						    <p>롯데월드 어드벤처</p>
						</div>
				</div>
						
				
				<div class="carousel-item">
					<img src="/images/ima/인천광역시/굴업도 (1).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>인천광역시</h3>
						    <p>굴업도</p>
						</div>
				</div>	
				
				<div class="carousel-item">
					<img src="/images/ima/전라도/운일암반일암계곡 (2).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>전라도</h3>
						    <p>운일암반일암계곡</p>
						</div>
				</div>
				
				<div class="carousel-item">
					<img src="/images/ima/제주도/남원큰엉해안 (1).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>제주도</h3>
						    <p>남원큰엉해안</p>
						</div>
				</div>
				
				<div class="carousel-item">
					<img src="/images/ima/충청도/배론성지 (2).jpg" class="d-block w-100"
						alt="...">
						<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						    <h3>충청도</h3>
						    <p>배론성지</p>
						</div>
				</div>																					
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>

		</div>

	</div>

</div>
