<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/notice/layout}">
<div layout:fragment="content" class="container  my-3" >

	<h2 class="mt-4">
	 이벤트
    <img src="/images/event/이벤트아이콘.png" class="icon" style="width: 70px; height: 70px;">
	</h2>
	
	<div class="album py-5">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
		<div class="col" th:each="event: ${result}">
			<div class="card shadow-sm">
			<img th:src="@{/images/event/thumbnail/{eventNo}.jpg(eventNo=${event.eventNo})}" 
			class="card-img-top" width="100%" height="270">
			 <div class="card-body" style="height: 8.5em;">
			  <button type="button" class="btn btn-sm btn-outline-danger" style="pointer-events: none;">진행중</button>
			  <p class="card-text" style="margin-top:1em;">[[${event.eventTitle}]]</p>
			  <a th:href="@{/event/read(eventNo=${event.eventNo})}" class="btn stretched-link"></a>
	
	</div>
	</div>
</div>
</div>
</div>
</html>